:root{
    --primary-color:#0F63FF;
    --secondary-color:#1b1717;
    --max-width:1280px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: var(--secondary-color);
    line-height: 1.5;
    width: 100vw;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--secondary-color);
}

.btn{
    /* padding: 1rem; */
    font-size: 1rem;
    font-family: 'Poopins',sans-serif;
    border: 0;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
}

.btn i{
    width: 100%;
    height: 100%;
}

.btn-primary{
    background-color: var(--primary-color);
}

.btn-secondary{
    background-color: var(--secondary-color);
}

.btn-long{
    width: 70%;
}

.btn-round{
    height: 40px;
    width: 40px;
    border-radius: 10px;
}

/* Navbar  */

#main-nav{
    width: 100%;

}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #ccc;
}

.nav-container ul{
    display: flex;
}

.nav-container ul li a{
    margin-left: 1rem;
}

.nav-container .hamburger-btn {
    position: relative;
    display: none;
}

.nav-container .hamburger-btn i{
    position: absolute;
    top: 7px;
    left:1px;
}

.mobile-wrapper{
    display: none;
}


/* Main */

#main-body{
    height: 500px;
    margin:1rem 0;
}

.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 1rem;
    padding: 2rem;
    height: 100%;
}

.text-container{
    height: 100%;
}

.text-container h1{
    font-size: 4rem;
}

.text-container ul{
    margin-top: 1rem;
    display: flex;
    padding: 1rem;
}

.text-container ul i{
    font-size: 2rem;
    margin-left: 1rem;
}

.img-container img{
    height: 100%;
    width: 80%;
}

/* nav meadia queries */

@media(max-width:768px){

    .nav-wrapper{
        display: none;
    }

    .nav-container .hamburger-btn{
        display: inline-flex;
    }


    .mobile-wrapper{
        display: none;
        width: 100%;
        height: 180px;
        padding: .5rem;
        background-color: var(--primary-color);
        transition: .5s all ease;
    }

    .mobile-wrapper li{
        /* margin: 1rem; */
        width: 100%;
        padding: .5rem;
        border-bottom: 1px solid var(--secondary-color);
    }

    .mobile-wrapper li:nth-child(4){
        border:0;
    }

    .mobile-wrapper li a{
        color: #fff;
    }

    /* Main  */

    .container{
        display: grid;
        grid-template-columns: 1fr;
        padding: .5rem;
    }

    .text-container{
        text-align: center;
        height: 100%;
        padding: 1rem;
        line-height: 2;
        border-bottom: 5px dotted #cccc;
        /* border-radius: 50%; */
    }

    .text-container h1{
        font-size: 2.5rem;
    }

    .text-container ul{
        margin-top: 40%;
        /* display: flex; */
        justify-content: space-between;
        /* padding: 1rem; */
    }

    .img-container{
       height: 100vh;
       width: 100%;
       padding: 1rem;
       text-align: center;
       /* margin-top: 2rem; */
    }

    .img-container img{
        text-align: center;
        width: 100%;
        height: 50%;
        margin-top: 40%;
    }

}